body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
    margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42; 
  }
  .footer-logo {
margin-bottom: 16px;
  }
.footer-logo .logo-part {
color: #f4f4fd;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
}
.nav-link:hover,
.nav-link:focus{
   color: #404bbf; 
}
.contacts{
    font-style: normal;
}
.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.section-hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.title-hero {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.form-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
        background-color: #4d5ae5;
     cursor: pointer;
}
.form-button:hover,
.form-button:focus {
background-color: #404BBF;
}

.title-advantages {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.description-advantages {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.our-team {
   background-color: #f4f4fd;
}
.title-our-team {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
}
.personal-information {
 background-color: #FFFFFF;
}

.personal-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.description-proffesion {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.title-portfolio {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
}
.name-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.description-portfolio {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
}
.description-footer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
h1, h2, h3, p {
    margin: 0;
}
.page-header-container {
    display: flex;
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center; 
}
.nav-list {
    display: flex;
    align-items: center; 
    gap: 40px;
}
.contacts-list {
   display: flex; 
    gap: 40px;
}
.section-hero{
    padding-top: 188px; та padding-bottom: 188px;
}
.title-hero {
    max-width: 496px;
}
.form-button {
    display: block;
     min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
background: #4d5ae5;
margin: 0 auto;
cursor: pointer;
}
.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages {
    visibility: hidden;
}
.advantages-list {
    display: flex; 
    gap: 24px;
}
.advantages-item {
    width: calc((100% - 72px) / 4);
}
.title-advantages {
    margin-bottom: 8px;
}